@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  padding: 70px 100px 50px 100px;
}

main ul {
  background-color: green;
}

main h1 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0 20px 0;
}
